h3{color: #FFEEAD;text-align: center;
}
h1{
     font-family: 'Courier New', Courier, monospace;color: #FFEEAD;text-align: center;
}
body{
    background-color: #96CEB4;padding:10px;
}
.box1{
    background-color: #D9534F ;padding: 20px;border-radius: 10px;
    }
h4{
    color: #FFAD60;text-align:
}
.lekha{
        text-align: justify;
}